body {
    background-color: azure;
}

p {
    font-family: sans-serif;
    font-size: 30px;
    width: 600px;
}

p span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p #letter {
    font-size: 100px;
    color: blue;
    text-decoration: underline #ff1111;
}