* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

section .text:nth-child(1),
section .text:nth-child(3) {
    background-color: rgb(147, 255, 183);
    color: black;
}

section .text:nth-child(2),
section .text:nth-child(4) {
    background-color: rgb(25, 25, 255);
    color: white;
}

.text {
    height: 25vh;
    padding: 20px;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1em;
}

hr {
    width: 33%;
    margin: auto;
    border-color: darkorange;
}